<?xml version="1.0"?>
<settings defaultResolver="local-maven2">
  <property name="local-maven2-pattern"
  value="${user.home}/.m2/repository/[organisation]/[module]/[revision]/[module]-[revision].[type]" override="false" />
  <resolvers>
    <filesystem name="local-maven2" m2compatible="true">
      <ivy pattern="${local-maven2-pattern}"/>
      <artifact pattern="${local-maven2-pattern}"/>
    </filesystem>
  </resolvers>
</settings>
