#
# Copyright (c) 2005 by Naohide Sano, All rights reserved.
#
# Written by Naohide Sano
#
# ant properties for vavi.sound
#
# @author	Naohide Sano
# @version	0.00	030331	nsano	initial version
#

encoding=UTF-8
findbugs.home=/usr/local/findbugs
#
# midi
#
# @param 
#
m2.repos=${user.home}/.m2/repository
gervill.dir=${user.home}/src/000/gervill
vavi.sound.midi.dir=../156/tmp
dir.support1=${user.home}/work/mobaradi-audio
#vavi.sound.midi.dir=/tmp
#vavi.sound.midi.dir=${user.home}/Music/1/1
vavi.sound.midi.sequencer=#Real Time Sequencer
vavi.sound.midi.synthesizer=com.sun.media.sound.SoftSynthesizer
vavi.sound.midi.soundbank=${user.home}/lib/audio/sf2/SGM-V2.01.sf2

#
# analyze
#
#vavi.sound.analyze.dir=/tmp/sound/wav2mld/n505

#
# wave
#
vavi.sound.wave.in=tmp/00001.wav
vavi.sound.wave.out=tmp/xxx.pcm

#
# play
#
vavi.sound.play.model=sh900
vavi.sound.play.mld_play=tmp/${vavi.sound.play.model}/*.mld
mld.file=src/test/resources/vavi/sound/mfi/HOTEL\ PACIFIC.mld
vavi.sound.play.mmf_play=tmp/mmf/*.mmf

#
# split
#
vavi.sound.split.in=file://${user.home}/Movies/battle_of_the_sexes.avi
vavi.sound.split.audio=.wav
vavi.sound.split.video=.mov

#
# dsr
#
vavi.sound.dsr.in=file://${user.home}/Movies/[PV]\ wyolica\ -\ red\ song.mpg

#
# run
#
vavi.sound.run.in=tmp/w8.wav
vavi.sound.run.out=${user.home}/src/vavi/java/test/150/tmp
vavi.sound.run.length=10
vavi.sound.run.base=out_%05d.mld
vavi.sound.run.type=sh900
vavi.sound.run.null=/dev/null

#
# smaf
#
vavi.sound.smaf.in=tmp/w8.wav
vavi.sound.smaf.out=${user.home}/src/vavi/java/test/150/tmp
vavi.sound.smaf.time=15
vavi.sound.smaf.base=out_%05d.mmf
#vavi.sound.smaf.null=NUL
vavi.sound.smaf.null=/dev/null
vavi.sound.smaf.sampleRate=8000

#
# vsq
#
#vavi.sound.vsq.in=tmp/utahime.vsq
#vavi.sound.vsq.in=${user.home}/arc/DTM/1/Tunak.vsq
vavi.sound.vsq.in=${user.home}/arc/DTM/1/MrBlue.vsq
vavi.sound.vsq.out=tmp/utahime.txt

#
# midi
#
vavi.sound.midi.device=Microsoft MIDI \u30de\u30c3\u30d1\u30fc
vavi.sound.midi.sequencer=Tritonus Java Sequencer
vavi.sound.midi.in=../../vavi/apps/midiEditor/sekaini.mid

##
