#
# Copyright (c) 2004 by Naohide Sano, All rights reserved.
#
# Written by Naohide Sano
#
# ant properties for vavi.sound.smaf
#
# @author	Naohide Sano
# @version	0.00	041222	nsano	initial version
#

#
#run
#
vavi.sound.smaf.run.smaf_in=B'z - Love phantom.mmf

#
# t1
#
vavi.sound.smaf.t1.smaf_in=B'z - Love phantom.mmf

#
# t2
#
#vavi.sound.smaf.t2.smaf_in=B'z - Love phantom.mmf
#vavi.sound.smaf.t2.midi_out=B'z - Love phantom.mid
vavi.sound.smaf.t2.smaf_in=Komekome Club - Roman Hikou.mmf
vavi.sound.smaf.t2.midi_out=Komekome Club - Roman Hikou.mid

##
